# external github directories
hand_detection
hand_test
# Virtual environment libraries
venv
# python cached files
__pycache__
# ATI FT directory
ATI_FT/ros-packages
ATI_FT/Samples
ATI_FT/Windows
ATI_FT/ATIDAQ
ATI_FT/Calibration/FT3585-Calibration_matrix.json
ATI_FT/Calibration/FT8585.cal
ATI_FT/Calibration/FT8585 Calibration Certificate and Accuracy Report.pdf
ATI_FT/encryption.pyc
ATI_FT/final_test.py
ATI_FT/ft.py
ATI_FT/t.py
ATI_FT/test_format.py
ATI_FT/testConnection.py
ATI_FT/ttt
# kinect calibrate images
calibrate/Custom_Calibrate
# Data & plots
CasePlots
data
# FRI library for c++ communication
FRILibrary
# Gripper files
Gripper/dynamixel_motor-master
Gripper/reflex-ros-pkg-master
Gripper/testMotorLoad.py
# Saved kinect images
images
# mapper data
mapper/data.csv
# catia models for robodk
Models/KUKA LWR IV+/*.STEP
Models/KUKA LWR IV+/*.dae
Models/KUKA LWR IV+/*.wrl
Models/PointCloud/body.txt
Models/PointCloud/points.txt
Models/PointCloud/body_index
Models/PointCloud/Car.ply
Models/PointCloud/model.pcd
Models/PointCloud/cloud.txt
Models/PointCloud/cube.txt
Models/PointCloud/test_cloud.txt
Models/PointCloud/test_cloud_1.txt
Models/PointCloud/test_cloud_2.txt
Models/PointCloud/test_cloud_3.txt
Models/PointCloud/test_cloud_4.txt
Models/PointCloud/test_cloud_5.txt
Models/PointCloud/test_cloud_6.txt
Models/PointCloud/test_cloud_7.txt
Models/PointCloud/test_cloud_8.txt
Models/PointCloud/test_cloud_10.pcd
Models/PointCloud/test_cloud_10.ply
Models/PointCloud/test_cloud_11.ply
Models/PointCloud/testRoboDK.txt
Models/PointCloudSkeleton/SkeletonJoints.png
Models/2D Worker Profile.STEP
Models/ATI-NANO25-E.stl
Models/Dummy Box.stl
Models/test_cloud_10.txt
# RoboDK models
RoboDK/COBRA S800
RoboDK/KUKA/box.sld
RoboDK/KUKA/gripper_robotiq_85_opened.tool
RoboDK/KUKA/Home_Test.rdk
RoboDK/KUKA/KUKA LWR IV+ Custom.rdk
RoboDK/KUKA/KUKA LWR IV+ Custom Light.rdk
RoboDK/KUKA/KUKA LWR IV+ Custom Light Real.rdk
RoboDK/KUKA/KUKA LWR IV+ Custom Medium.rdk
RoboDK/KUKA/KUKA LWR IV+ Custom Medium v2.rdk
RoboDK/KUKA/KUKA LWR IV PLUS.rdk
RoboDK/KUKA/KUKA PLOTS.rdk
RoboDK/KUKA/KUKA-LBR-iiwa-14-R820.robot
RoboDK/KUKA/KUKA-LWR-IV-PLUS.robot
RoboDK/KUKA/KUKA-LWR-IV-PLUS-CUSTOM.robot
RoboDK/KUKA/KUKA-LWR-IV-PLUS-CUSTOM-MEDIUM.robot
RoboDK/KUKA/KUKA-LWR-IV-PLUS-CUSTOM-MEDIUM v2.robot
RoboDK/KUKA/KUKA-LWR-IV-PLUS-CUSTOM-REAL.robot
RoboDK/KUKA/plane_1m_grid.sld
RoboDK/KUKA/welding_table.sld
RoboDK/KUKA/Custom_Post_Processor
RoboDK/KUKA/Sheet Factor
RoboDK/KUKA_2_ROBODK_COMMUNICATION/KUKA-RoboDK-Driver/KukaVarProxy
RoboDK/KUKA_2_ROBODK_COMMUNICATION/KUKA-RoboDK-Driver/old-kukavarproxy
RoboDK/KUKA_2_ROBODK_COMMUNICATION/kuka.cps
RoboDK/KUKA_2_ROBODK_COMMUNICATION/KUKA Settings.txt
RoboDK/KUKA_2_ROBODK_COMMUNICATION/apikukaiiwa.py
RoboDK/KUKA_2_ROBODK_COMMUNICATION/testTCP.py
# Videos
Videos
# Python test files
BodyIndex.py
cad.py
ControlArrows.py
depth_tracking.py
fabric_find.py
FORTH_Hand_Tracking.py
FTsensor_Old.py
GL_pointcloud_test.py
gripper_demo.py
index.html
intrinsicsGithub.py
mapper.md
openGL_Cloud.py
panel.py
pangolin-PointCloud.py
pylibfreence2.py
PointCloud-Visualize.py
reverseShell.py
robodk-gui-example.py
skeleton_track.py
SocketUDP.py
test.py
test21312312.py
test_3DPointCloud_WorkSpace.py
test_six_kalman_pred.py
testbreak.py
testClosedHand.py
testCloud.py
test_cloud.py
testCloudSkeleton.py
testCoordination.py
testFTsensor.py
testGripper.py
testhand.py
testHandRecognition.py
testing.py
testing2.py
testMapper.py
testMask.py
testNewCoordinator.py
testOrientation.py
testrobot.py
testRsa.py
testtest.py
testkinter.py
TODO.txt
track.py
track_light.py
track_v2.py
utils_PyKinectV2.py
visio.py
webcam_mirror_test.py
kinect.py
testBodyIndex.py
testSkeletonCloud.py
testPointCloud.py
testCorrectPointCloud.py
testJointLimits.py
testKalman.py
testtkinter.py
testFabric.py
test_skeleton_track.py
pylibfreenect2.py
GraspModel.py
data.txt
kinect_data.txt
sum_data.txt
PlotsCase.py
testGraspingModel.py
testThreads.py
gripper_experimemts.py
testClasses.py
test_writer.py
finalPlots.py
testLinearMovement.py
testForces.py
livePlotting.py
PointCloud.py
VideoJoiner.py
